@media screen and (max-width: 992px){

	
	.main__image{
		width: 100%;
		margin: 20px 0px 40px 0;
	}
	.main__info-subtitle{
		margin-top: 40px;
	}
}

@media screen and (max-width: 768px){
	.main__image{
		width: 100%;
	}
	.main__subtitle20{
		font-size: 18px;
	}
}

@media screen and (max-width: 576px){
	.main__subtitle20{
		font-size: 12px;
	}
	.main__mark-text{
		display: block !important;
	}
	.main__date{
		display: block !important;
	}
	
	
}